<!-- <h1>{{title}}</h1>
<app-heroes></app-heroes>
<app-messages></app-messages> -->
<!-- 
<div *ngIf="messageService.messages.length">
	<h2>Messages</h2>
	<button class="clear" (click)="messageService.clear()">clear</button>
	<button class="add" (click)="messageService.addMessage()">add-message</button>
	<input class="add-text" type="text" [(ngModel)]="ngoMessage">
	<div *ngFor="let message of messageService.messages"> {{message}}</div>
</div> -->

<h2>Messages</h2>
<button class="clear" (click)="messageService.clear()">clear</button>
<input type="text" [ngModel]="ngoMessage" (ngModelChange)="ngoMessage=$event">
<button class="add-message" (click)="addMessage()">add-message</button>
<div *ngFor=" let message of messageService.messages"> {{message}}</div>